@inject PackRepo Repo
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject IJSRuntime Js
@inject PackNodeService NodeService

<div id="nodes-edit"></div>
<MudText Typo="Typo.h4" GutterBottom>
    Pack Items <MudTooltip Text="Add Item"><MudIconButton OnClick="AddNode" Icon="@Icons.Material.Filled.Add"></MudIconButton></MudTooltip>
</MudText>

<MudGrid Class="pb-4">
    <MudItem xs="12">
        <MudStack Row Wrap="Wrap.NoWrap">
            <MudTextField Placeholder="Search..." @bind-Value="Search" @bind-Value:after="() => OnQueryChange(true)" 
                          DebounceInterval="500" Clearable Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />
        </MudStack>
        <MudStack Row Wrap="Wrap.NoWrap">
            <MudSelect T="int?" Label="Order By" @bind-Value="OrderBy" @bind-Value:after="() => OnQueryChange(true)"
                       Adornment="Adornment.End" AdornmentIcon="@OrderDirectionIcon" OnAdornmentClick="OnOrderDirectionClick">
                <MudSelectItem T="int?" Value="(int)PackNodesOrderBy.CreatedAt">Created Date</MudSelectItem>
                <MudSelectItem T="int?" Value="(int)PackNodesOrderBy.Name">Name</MudSelectItem>
                <MudSelectItem T="int?" Value="(int)PackNodesOrderBy.Image">Image</MudSelectItem>
            </MudSelect>
            <MudSelect T="int" MultiSelection Label="Tags" @bind-SelectedValues="@TagIdsEnumerable" @bind-SelectedValues:after="() => OnQueryChange(true)" MultiSelectionTextFunc="GetTagsSelectText" Clearable>
                @foreach (var tag in Pack.Tags)
                {
                <MudSelectItem T="int" Value="@tag.Id">@tag.Name</MudSelectItem>
                }
            </MudSelect>
        </MudStack>
    </MudItem>
</MudGrid>

<MudGrid>
    @if (_nodes is { Count: > 0 })
    {
        <MudItem xs="12">
            <MudPagination Color="Color.Primary" Count="NumberOfPages" @bind-Selected="Page" @bind-Selected:after="() => OnQueryChange()" />
        </MudItem>
        <MudFlexBreak />
        @foreach (var node in _nodes.Data)
        {
            <MudItem xs="12">
                <NodeView Node="node" OnDelete="ConfirmDeleteNode" OnEdit="EditNode"></NodeView>
            </MudItem>
            <MudFlexBreak />
        }
        <MudItem xs="12">
            <MudPagination Color="Color.Primary" Count="NumberOfPages" @bind-Selected="Page" @bind-Selected:after="() => OnQueryChange()" />
        </MudItem>
    }
    else
    {
        <MudItem xs="12" Style="height: 600px"><i>No Items</i></MudItem>
    }
</MudGrid>

<MudScrollToTop>
    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.KeyboardArrowUp" />
</MudScrollToTop>

@code {
    [CascadingParameter] public Pack Pack { get; set; } = default!;

    [SupplyParameterFromQuery(Name = "page")] private int Page { get; set; } = 1;

    [SupplyParameterFromQuery(Name = "search")] private string Search { get; set; } = "";

    [SupplyParameterFromQuery(Name = "tag_id")] private int[] TagIds { get; set; } = [];

    [SupplyParameterFromQuery(Name = "order_by")] private int? OrderBy { get; set; } = (int)PackNodesOrderBy.Name;

    [SupplyParameterFromQuery(Name = "direction")] private int? Direction { get; set; } = (int)OrderDirection.Ascending;

    private Dictionary<string, object?> QueryParameters => new()
    {
        ["page"] = Page,
        ["search"] = Search,
        ["tag_id"] = TagIds,
        ["order_by"] = OrderBy,
        ["direction"] = Direction,
    };
    
    private PagedResult<Node> _nodes = default!;
    
    private IEnumerable<int> TagIdsEnumerable
    {
        get => TagIds;
        set => TagIds = value.ToArray();
    }

    private const int NodesPerPage = 10;

    private int NumberOfPages => (int)Math.Ceiling((decimal)_nodes.Count / NodesPerPage);

    private List<LinkedNodeInfoModel> _nodeInfos = [];

    private string OrderDirectionIcon => Direction == (int)OrderDirection.Descending 
        ? Icons.Material.Filled.ArrowUpward
        : Icons.Material.Filled.ArrowDownward;

    private async Task LoadPackNodes()
    {
        if (Page < 1)
            Page = 1;
        OrderBy ??= (int)PackNodesOrderBy.Name;
        Direction ??= (int)OrderDirection.Ascending;
        
        var orderBy = OrderBy.HasValue && Enum.IsDefined(typeof(PackNodesOrderBy), OrderBy) ? (PackNodesOrderBy)OrderBy : PackNodesOrderBy.Name;
        var direction = Direction.HasValue && Enum.IsDefined(typeof(OrderDirection), Direction) ? (OrderDirection)Direction : OrderDirection.Ascending;
        _nodes = await Repo.GetPackNodes(Pack, Page, NodesPerPage, Search, TagIds.ToList(), orderBy, direction);
        Pack.Nodes = _nodes.Data;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        var nodeNames = await Repo.GetPackNodeNames(Pack.Id);
        _nodeInfos = nodeNames.Select(x => new LinkedNodeInfoModel(x.id, x.name)).ToList();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadPackNodes();
    }

    private async Task OnQueryChange(bool resetPage = false)
    {
        if (resetPage)
            Page = 1;

        var uri = Navigation.GetUriWithQueryParameters(QueryParameters);
        if (!uri.Contains("#nodes-edit"))
            uri += "#nodes-edit";
        
        await LoadPackNodes();
        await Js.InvokeAsync<string>("window.history.pushState", null, "", uri);
        await Js.InvokeAsync<bool>("window.scrollToElementId", "nodes-edit");
    }

    private async Task OnOrderDirectionClick()
    {
        Direction = Direction == (int)OrderDirection.Descending 
            ? (int)OrderDirection.Ascending 
            : (int)OrderDirection.Descending;
        await OnQueryChange(true);
    }

    private string GetTagsSelectText(List<string> selected)
    {
        var selectedInts = selected.Select(int.Parse).ToList();
        var tags = Pack.Tags.Where(x => selectedInts.Contains(x.Id)).Select(x => x.Name);
        return string.Join(", ", tags);
    }

    private async Task AddNode()
    {
        await SaveNode(0, new NodeModel());
    }

    private async Task SaveNode(int id, NodeModel model)
    {
        var res = await NodeService.SaveNode(_nodeInfos, Pack.Id, id, model);
        if (res.IsFailed && res.Errors.Count > 0)
        {
            Snackbar.Add(res.Errors[0].Message, Severity.Error);
        }
        
        await LoadPackNodes();
    }

    private async Task ConfirmDeleteNode(int id)
    {
        var node = _nodes.Data.FirstOrDefault(x => x.Id == id);
        if (node == null)
        {
            Snackbar.Add("Item not found", Severity.Error);
            return;
        }

        var parameters = new ConfirmDialog.ConfirmDialogParams
            {
                Prompt = $"Delete item {node.Name}?",
                ButtonText = "Delete",
                ButtonColor = Color.Error
            };
        var confirmed = await ConfirmDialog.CallDialog(DialogService, parameters);

        if (confirmed)
        {
            await DeleteNode(node);
        }
    }

    private async Task DeleteNode(Node node)
    {
        await NodeService.DeleteNode(node.Id);
        await LoadPackNodes();
        StateHasChanged();
    }

    private async Task EditNode(int id)
    {
        var node = _nodes.Data.FirstOrDefault(x => x.Id == id);
        if (node == null)
        {
            Snackbar.Add("Item not found", Severity.Error);
            return;
        }
        await NodeEditDialog.ShowNodeEditDialog(DialogService, node, _nodeInfos, SaveNode);
    }
}
