@implements IDisposable

<table class="dl-table">
    <tr>
        <th>Game State</th>
        <td>@Game.StateDisplayValue</td>
    </tr>
    @if (Game.ShowTimer)
    {
        <tr>
            <th>Game Timer</th>
            <td>@Game.Timer.DisplayValue</td>
        </tr>
    }
    @if (Game.DrawState != null && Game.Preset.AutoDrawTimer > 0 && Game.State is GameStateEnum.Init or GameStateEnum.Active or GameStateEnum.Paused)
    {
        <tr>
            <th>Auto Draw Timer</th>
            <td>@Game.DrawState.AutoDrawTimer.DisplayValue</td>
        </tr>
    }
    @if (Game.WinningPlayers.Count > 0)
    {
        <tr>
            <th>@(Game.WinningPlayers.Count == 1 ? "Winner" : "Winners")</th>
            <td>@string.Join(", ", Game.WinningPlayers.Select(x => x.PlayerName))</td>
        </tr>
    }
</table>

@code {
    [CascadingParameter]
    public GameState Game { get; set; } = default!;
    
    private Guid? _gameSessionId;

    private bool _isInitialized;
    
    protected override void OnInitialized()
    {
        InitializeGame();
        _isInitialized = true;
    }

    protected override void OnParametersSet()
    {
        if (Game.GameSessionId == _gameSessionId) return;

        _isInitialized = false;
        InitializeGame();
        _isInitialized = true;
    }

    private void InitializeGame()
    {
        _gameSessionId = Game.GameSessionId;
        Game.TimerUpdated += OnTimerUpdated;
        if (Game.DrawState != null)
        {
            Game.DrawState.TimerUpdated += OnTimerUpdated;
        }
    }
    
    private void OnTimerUpdated()
    {
        InvokeAsync(StateHasChanged);
    }
    
    public void Dispose()
    {
        Game.TimerUpdated -= OnTimerUpdated;
        if (Game.DrawState != null)
        {
            Game.DrawState.TimerUpdated -= OnTimerUpdated;
        }
    }
}
